	<!-- Footer Start -->
	<footer id="footer">
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<p class="footer-left">{{ site.copyright }}</p>
					</div>
					<div class="col-sm-6">
						<p class="footer-right">Theme by <a href="#" target="_blank">GoldenBytes</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->
	</div>

	<!-- Back to Top Button -->
	<button class="back-to-top js-back-to-top">
		<span class="fa fa-angle-double-up"></span>
	</button>

	<!-- Needed Javascript  -->
	<koken:asset file="js/main.js" />
	<koken:asset file="js/tether.min.js" />
	<koken:asset file="js/bootstrap.min.js" />
</body>
</html>